
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        .carousel-inner img {
            width: 100%; /* Set width to 100% */
            margin: auto;
            min-height: 200px;
        }

        .bg-3 {
            background-color: #ffffff;
            color: #555555;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }
    </style>
</head>
<body>

    <div id="test hovergallery img  hovergallery img:hover">

        <div class="row container-fluid bg-3 text-center">

            <marquee behavior="scroll" direction="right" onmouseout="this.start();" onmouseover="this.stop();" scrollamount="5" width="100%">
                <img border="0" height:45px src="~/Content/Images/Home/korea.jpg" style="width: 500px;" class="img-circle" alt="Cinque Terre" />
                <img border="0" height:45px src="~/Content/Images/Home/korea.jpg" style="width: 500px;" class="img-circle" alt="Cinque Terre" />
                <img border="0" height:45px src="~/Content/Images/Home/korea.jpg" style="width: 500px;" class="img-circle" alt="Cinque Terre" />
            </marquee>


            <marquee behavior="scroll" direction="leght" onmouseout="this.start();" onmouseover="this.stop();" scrollamount="5" width="100%">
                <img border="0" height:45px src="~/Content/Images/Home/korea.jpg" style="width: 500px;" class="img-circle" alt="Cinque Terre" />
                <img border="0" height:45px src="~/Content/Images/Home/korea.jpg" style="width: 500px;" class="img-circle" alt="Cinque Terre" />
                <img border="0" height:45px src="~/Content/Images/Home/korea.jpg" style="width: 500px;" class="img-circle" alt="Cinque Terre" />
            </marquee>

        </div>




        <marquee behavior="scroll" direction="leght" scrollamount="5" width="100%">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                                <img src="~/Content/Images/Home/korea.jpg" alt="Lights" style="width:100%">
                                <div class="caption">
                                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                                <img src="~/Content/Images/Home/korea.jpg" alt="Nature" style="width:100%">
                                <div class="caption">
                                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                                <img src="~/Content/Images/Home/korea.jpg" alt="Fjords" style="width:100%">
                                <div class="caption">
                                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </marquee>

    </div>





    <div class="container-fluid bg-3 text-center">
        <h3>Where To Find Me?</h3><br>
        <div class="row">
            <marquee behavior="scroll" direction="right" scrollamount="5" width="100%">
                <div class="col-sm-4 text-center">
                    <p>KOREA.</p>
                    <img src="~/Content/Images/Home/korea.jpg" alt="Image" width="350" height="300">
                </div>
            </marquee>
            <marquee behavior="scroll" direction="leght" scrollamount="5" width="100%">
                <div class="col-sm-4 text-center">
                    <p>JAPAN.</p>
                    <img src="~/Content/Images/Home/korea.jpg" alt="Image" width="350" height="300">
                </div>
            </marquee>
            <marquee behavior="scroll" direction="right" scrollamount="5" width="100%">
                <div class="col-sm-4 text-center">
                    <p>THAILAND.</p>
                    <img src="~/Content/Images/Home/korea.jpg" alt="Image" width="350" height="300">
                </div>
            </marquee>
            <marquee behavior="scroll" direction="leght" scrollamount="5" width="100%">
                <div class="col-sm-4 text-center">
                    <p>CAMPUCHIA.</p>
                    <img src="~/Content/Images/Home/korea.jpg" alt="Image" width="350" height="300">
                </div>
            </marquee>
        </div>
    </div>


</body>
</html>

-->
<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>

        .thu-nghiem-zoom img {
            display: block;
            transition: all .3s ease;
        }

            .thu-nghiem-zoom img:hover {
                transform: scale(1.3); /* cỡ zoom khi di chuột vào */
            }

        .thu-nghiem-zoom div {
            display: block;
            overflow: hidden;
        }

        .avatar {
            vertical-align: middle;
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    </style>
</head>
<body>







    <div class="container">
        <h2>Carousel Example</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators 
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides 
            <div class="carousel-inner">


                <marquee data-spy="scroll" data-target=".navbar" data-offset="50">
                    <!-- data-target="#myCarousel" width="100%" scrollamount="7.5">-->
                    <!-- scrollamount="5"
                    <div class="container ">
                        <div class="row ">
                            <div class="col-md-2">
                                <div class=" thu-nghiem-zoom">
                                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                                        <img src="~/Content/Images/Home/korea.jpg" alt="Lights Avatar" class="avatar" style="width:100%">

                                        <div class="caption text-center">
                                            <p>THAILAND.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class=" thu-nghiem-zoom">
                                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                                        <img src="~/Content/Images/Home/korea.jpg" alt="Nature Avatar" class="avatar" style="width:100%">
                                        <div class="caption text-center">
                                            <p>THAILAND.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class=" thu-nghiem-zoom">
                                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                                        <div class="caption text-center">
                                            <p>THAILAND.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class=" thu-nghiem-zoom">
                                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                                        <img src="~/Content/Images/Home/korea.jpg" alt="Lights Avatar" class="avatar" style="width:100%">
                                        <div class="caption text-center">
                                            <p>THAILAND.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class=" thu-nghiem-zoom">
                                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                                        <img src="~/Content/Images/Home/korea.jpg" alt="Nature Avatar" class="avatar" style="width:100%">
                                        <div class="caption text-center">
                                            <p>THAILAND.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class=" thu-nghiem-zoom">
                                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                                        <div class="caption text-center">
                                            <p>THAILAND.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>















                        </div>
                    </div>
                </marquee>



            </div>-->

            <!-- Left and right controls
            <a class="left carousel-control" href="#myCarousel">
                <span class="glyphicon glyphicon-chevron-left"></span>

            </a>
            <a class="right carousel-control" href="#myCarousel">
                <span class="glyphicon glyphicon-chevron-right"></span>

            </a>

        </div>
    </div>

</body>
</html>



-->






<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Swiper demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <style>
        html,
        body {
            position: relative;
            height: 100%;
          
        }

        body {
            background: #fff;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #fff;
            margin: 0;
            padding: 0;
            
        }

        swiper-container {
            width: 100%;
            height: 100%;
        }

        swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        swiper-container {
            margin-left: auto;
            margin-right: auto;
        }

        .avatar {
            vertical-align: middle;
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }

        .thu-nghiem-zoom img {
            display: block;
            transition: all .3s ease;
        }

            .thu-nghiem-zoom img:hover {
                transform: scale(1.3); /* cỡ zoom khi di chuột vào */
            }

        .thu-nghiem-zoom div {
            display: block;
            overflow: hidden;
        }

    </style>
</head>

<body>

    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
                      loop="true">
        <swiper-slide>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" thu-nghiem-zoom">
                    <a href="~/Content/Images/Home/korea.jpg" target="_blank">
                        <img src="~/Content/Images/Home/korea.jpg" alt="Fjords Avatar" class="avatar" style="width:100%">
                        <div class="caption text-center">
                            <p>THAILAND.</p>
                        </div>
                    </a>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

</body>

</html>
